<h1>testambe</h1>
<p>Here you find the results</p>

<h1>Results</h1>

<ul>
  <% @results.each do |result| %>
    <li>
      <%= link_to result.firstname, result %>
      <%= link_to result.lastname, result %>
      <%= link_to result.result, result %>
    </li>
  <% end %>
</ul>